.inv_text_f{
	border:0;
	background:none;
	text-align:right;
	color:red;
	padding-right:10px;
	width: 100%;
}	
.pop101 .inv_text_f{
    padding-right: 0;
}
.init_reading_txt{
    width: 100%;
    margin-bottom: 23px;
    padding: 10px;
    font-size: 18px;	
}

