.datepicker-container.datepicker-dropdown{
    z-index: 9999999 !important;
}

.new_acct_txtA1{
	width:100%;
	height:100px !important;
	resize: none;
}

.pop_view_info_table  .head_info{text-align:center;}

.pop_view_info_table  .head_info h2{
	padding:0;
	margin:0;
}

.pop_view_info_table  .head_info p{
	padding-left:30px;
	padding-right:30px;
}

.but_filter{cursor:pointer;}

td.empty_no_data {
    padding: 15px  !important;
    text-align: center;
    font-size: 18px !important;
}

.cmd_menu1{
     padding:0;
     margin:0;
}

.cmd_menu1 li{
     cursor: pointer;
}
.cmd_menu1 li{
	display: inline-block;
    padding: 5px;
    border: 1px solid #337ab7;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.init_reading_txt, .meter_number_text {
    width: 100%;
    margin-bottom: 23px;
    padding: 10px;
    font-size: 18px;
}

.back_1 .box1.w700{
	    min-width: 700px !important;

}
